---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include header.html %}

<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>


<!-- Projects -->
<h1>Projects</h1>
<h2>Auxiliary Battery Pack, Solar Vehicle Project, UMN</h2>
<ul class="projects-list">
	<li>Designed a printed circuit board (PCB) using Altium that connects Primary
	Power, STM microcontroller, Boost Controller, and CAN bus together to regulate
	 the battery to kickstart the Solar Vehicle for American Solar Challenge 2016
	 </li>
	<li>Programmed the STM microcontroller in C to have functionalities such as
	controlling when to charge the battery and showing how charged the battery in
	the led bar</li>
</ul>

<h2>Digital Voltmeter (C), Course Final Project, UMN</h2>
<ul class="projects-list">
	<li>Using PIC 24 to create a digital voltmeter that samples voltages and
	report them via a serial interface on the computer via a terminal emulator
	(hyperterminal)</li>
	<li>Programmed the STM microcontroller in C to have functionalities such as
	controlling when to charge the battery and showing how charged the battery in
	the led bar</li>
</ul>

<h2>Game Based Alarm Clock (C), Course Final Project, UMN </h2>
<ul class="projects-list">
	<li>Using two Particle Photon microcontrollers to create an alarm for one and
	pattern matching game for the other to turn the alarm off by sending and
	receiving data from the internet cloud</li>
</ul>

<h2>File Compressor (Java), Course Final Project, EDCC</h2>
<ul class="projects-list">
	<li>Led a team of 3 to compress a text file by creating a file with a .huf
	extension using Huffman Compression</li>
</ul>


{% include footer.html %}
