---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include header.html %}

<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>


<!-- Projects -->
<h1>Projects</h1>

<h2>Voice Command for Robotic Arm (Python), Senior Design Project</h2>
<ul class="projects-list">
  <li>Jan 2018- May 2018</li>
  <li>Sent voice command to move the robotic arm to different positions via
      Bluetooth BLE using Raspberry PI</li>
  <li>Designed different training steps (move right, front etc.) for the robotic
      arm</li>
</ul>

<h2>Multi-Threaded Web Server (C), Course Final Project</h2>
<ul class="projects-list">
  <li>Apr 2017</li>
  <li>Constructed a multithreaded web server using POSIX threads which contain the dispatcher and worker
      thread</li>
  <li>Implemented the logger functionality that logs each request with info such as threadID and
			      requestNumber and signal handling</li>
</ul>

<h2>Motion Tracking User Interface (JavaScript, WebGL), Individual</h2>
<ul class="projects-list">
  <li>Jan 2017</li>
  <li>Iron Man’s user interface inspired project that tracks hand motions
      patterns such as hand fist to control the ball’s movement on the webpage
       created from a WebGL 3D world renderer</li>
  <li>The program uses the latest open sourced gest.js and objectDetect.js
      Computer Vision libraries to support the motion tracking feature
</li>
</ul>

<h2>Space Canoe VR (C#), GameCraft Event, Hosted by Glitch</h2>
<ul class="projects-list">
  <li>Jan 2017</li>
	<li>Collaborated with a team of 9 to create a VR game where players can travel through space, in a canoe
  </li>
  <li>Created multiple scripts in Unity that support the physics game systems such as gravity effect, collision,
      and checkpoint</li>
</ul>

<h2>Stock Recommender (Python), Individual</h2>
<ul class="projects-list">
  <li>June 2016</li>
	<li>Created a script that mines data from Malaysia’s leading stock
     investment portal and recommends quality stocks to purchase on multiple browser tabs
  </li>
</ul>

<h2>Auxiliary Battery Pack, Solar Vehicle Project</h2>
<ul class="projects-list">
  <li>June 2016</li>
	<li>Designed a printed circuit board (PCB) using Altium that connects Primary
	Power, STM microcontroller, Boost Controller, and CAN bus together to regulate
	 the battery to kickstart the Solar Vehicle for American Solar Challenge 2016
	 </li>
	<li>Programmed the STM microcontroller in C to have functionalities such as
	controlling when to charge the battery and showing how charged the battery in
	the led bar</li>
</ul>

<h2>Game Based Alarm Clock (C), Course Final Project</h2>
<ul class="projects-list">
  <li>Dec 2015</li>
  <li>Used two Particle Photon microcontrollers to create an alarm based pattern matching game</li>
  <li>Data is transmitted using Particle companies’ available variables in the Cloud</li>
</ul>


{% include footer.html %}
